body {
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 200px;
  background-color: #265e26; /* dark green */
  color: white;
  height: 100vh;
  height: 100%; 
  position: fixed; 
  padding: 20px 0;
}

.sidebar-header {
  font-size: 18px;
  font-weight: bold;
  padding: 0 20px 20px;
  border-bottom: 1px solid #7dd57d;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
  transition: background 0.2s;
}

.menu-item:hover {
  background-color: #4fa24f;
}

.menu-item svg {
  margin-right: 10px;
}

.menu-item a {
  text-decoration: none;   
  color: inherit;          
  display: flex;           
  align-items: center;
}

.menu-item a:hover {
  color: #fff;             
}

.menu-item.active {
  background-color: #4fa24f; /* Highlight active item */
  font-weight: bold;
  border-left: 4px solid #fff; /* white border indicator */
}